<div class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">


    <div
        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_light">


        <div class="et_pb_text_inner">
            <h2>ABOUT US</h2>
        </div>
    </div> <!-- .et_pb_text -->
    <div class="et_pb_module et_pb_text et_pb_text_14  et_pb_text_align_left et_pb_bg_layout_light">


        <div class="et_pb_text_inner">
            <p>At Photo Home, we provide photo editing services for real estate agents and home
                sellers
                who need help staging their listings to sell houses faster and easier. Our team
                comprises
                professionals who have years of experience in real estate photo editing and
                visual design-
                meaning you get photos that look great and will show your property at its
                best!&nbsp;</p>
        </div>
    </div> <!-- .et_pb_text -->
    <div class="et_pb_module et_pb_text et_pb_text_15  et_pb_text_align_left et_pb_bg_layout_light">


        <div class="et_pb_text_inner">
            <p>We offer fast turnaround times, so you don’t miss out on potential buyers waiting
                around
                for new photos to be uploaded.</p>
        </div>
    </div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column -->
