<div class="et_pb_section et_pb_section_5 et_section_regular">
    <div class="et_pb_row et_pb_row_7">

        <%-include('contact')-%>
        <%-include('about')-%>

        

    </div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section -->