<div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">




    <div class="et_pb_row et_pb_row_11">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_center et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <h2>HOW IT WORKS</h2>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_12">
        <div
            class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_text et_pb_text_21  et_pb_text_align_right et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p>FILL OUR CONTACT FORM</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200"
                                height="200" src="/uploads/2021/06/New-Project.jpg" alt=""
                                srcset="/uploads/2021/06/New-Project.jpg 200w, /uploads/2021/06/New-Project-150x150.jpg 150w"
                                sizes="(max-width: 200px) 100vw, 200px"
                                class="et-waypoint et_pb_animation_top wp-image-265"></span></div>
                    <div class="et_pb_blurb_container">

                        <div class="et_pb_blurb_description">
                            <p>Contact us by filling out our form</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_13">
        <div
            class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_26  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_text et_pb_text_22  et_pb_text_align_right et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p>We will contact you by E-mail</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200"
                                height="200" src="/uploads/2021/06/New-Project-1.jpg" alt=""
                                srcset="/uploads/2021/06/New-Project-1.jpg 200w, /uploads/2021/06/New-Project-1-150x150.jpg 150w"
                                sizes="(max-width: 200px) 100vw, 200px"
                                class="et-waypoint et_pb_animation_top wp-image-264"></span></div>
                    <div class="et_pb_blurb_container">

                        <div class="et_pb_blurb_description">
                            <p>WE WILL SEND YOU AN EMAIL</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_14">
        <div
            class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_28  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_text et_pb_text_23  et_pb_text_align_center et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p style="text-align: right;">LET US KNOW YOUR REQUIREMENTS</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200"
                                height="200" src="/uploads/2021/06/New-Project-2.jpg" alt=""
                                srcset="/uploads/2021/06/New-Project-2.jpg 200w, /uploads/2021/06/New-Project-2-150x150.jpg 150w"
                                sizes="(max-width: 200px) 100vw, 200px"
                                class="et-waypoint et_pb_animation_top wp-image-263"></span></div>
                    <div class="et_pb_blurb_container">

                        <div class="et_pb_blurb_description">
                            <p>Let us know types of tasks do you need</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_15">
        <div
            class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_30  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_text et_pb_text_24  et_pb_text_align_right et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p>You can e-mail us the photos via Google Drive or Dropbox&nbsp;</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_31  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_10  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200"
                                height="200" src="/uploads/2021/06/New-Project-3.jpg" alt=""
                                srcset="/uploads/2021/06/New-Project-3.jpg 200w, /uploads/2021/06/New-Project-3-150x150.jpg 150w"
                                sizes="(max-width: 200px) 100vw, 200px"
                                class="et-waypoint et_pb_animation_top wp-image-262"></span></div>
                    <div class="et_pb_blurb_container">

                        <div class="et_pb_blurb_description">
                            <p><span>SEND US YOUR PHOTOS</span></p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_16">
        <div
            class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_32  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_text et_pb_text_25  et_pb_text_align_right et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p>RECEIVE YOUR EDITED PHOTOS</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_11  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200"
                                height="200" src="/uploads/2021/06/New-Project-4.jpg" alt=""
                                srcset="/uploads/2021/06/New-Project-4.jpg 200w, /uploads/2021/06/New-Project-4-150x150.jpg 150w"
                                sizes="(max-width: 200px) 100vw, 200px"
                                class="et-waypoint et_pb_animation_top wp-image-261"></span></div>
                    <div class="et_pb_blurb_container">

                        <div class="et_pb_blurb_description">
                            <p>Let us do our magic and we will send your edited photos</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section -->