<div class="et_pb_section et_pb_section_3 et_section_regular">
    <div class="et_pb_row et_pb_row_2">
        <div class="et_pb_column et_pb_column_2_5 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
            <div
                class="et_pb_with_border et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">

                <div class="et_pb_text_inner">
                    <h2>HOW CAN WE HELP ?</h2>
                </div>
            </div> <!-- .et_pb_text -->
            <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p>It isn’t easy to take good real estate photographs of your home. However, we can
                        fix this
                        problem for you! Our real estate photo editors will enhance the real estate
                        photos and
                        make them look great!</p>
                    <p>We will turn your ugly duckling into a beautiful swan and get you more sales. So,
                        don’t
                        worry if your real estate photos have turned out bad, we are here to save the
                        day.</p>
                </div>
            </div> <!-- .et_pb_text -->
            <div class="et_pb_button_module_wrapper et_pb_button_1_wrapper  et_pb_module ">
                <a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="">READ ME</a>
            </div>
        </div> <!-- .et_pb_column -->


        <div class="et_pb_column et_pb_column_3_5 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_image et_pb_image_1">
                <span class="et_pb_image_wrap "><img loading="lazy"
                        src="/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg" alt="" title="880 Oak Park Cir-1 AFTER"
                        height="auto" width="auto"
                        srcset="/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg 1000w, /uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-980x654.jpg 980w, /uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-480x320.jpg 480w"
                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                        class="wp-image-210"></span>
            </div>
            <div class="et_pb_module et_pb_image et_pb_image_2">
                <span class="et_pb_image_wrap "><img loading="lazy" src="/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg"
                        alt="" title="VIRTUAL STAGING AFTER" height="auto" width="auto"
                        srcset="/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING-AFTER-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING-AFTER-480x320.jpg 480w"
                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                        class="wp-image-195"></span>
            </div>

            <div class="et_pb_module et_pb_image et_pb_image_3">
                <span class="et_pb_image_wrap "><img loading="lazy" src="/uploads/2021/06/RETOUCH-DSC_8957-AFTER.jpg"
                        alt="" title="RETOUCH DSC_8957 AFTER" height="auto" width="auto"
                        srcset="/uploads/2021/06/RETOUCH-DSC_8957-AFTER.jpg 1000w, /uploads/2021/06/RETOUCH-DSC_8957-AFTER-980x654.jpg 980w, /uploads/2021/06/RETOUCH-DSC_8957-AFTER-480x320.jpg 480w"
                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                        class="wp-image-233"></span>
            </div>
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->

</div> <!-- .et_pb_section -->