<link rel="stylesheet" href="/css/style1.css">
<link rel="stylesheet" href="/css/et-core.min.css">
<link rel="stylesheet" href="/css/et-core-unified-tb.min.css">
<link rel="stylesheet" href="/css/et-core-unified-tb-15-tb.min.css">

<div id="et-main-area">

    <div id="main-content">



        <article id="post-8" class="post-8 page type-page status-publish hentry">


            <div class="entry-content">
                <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">                       
                       
                        <div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">


                            <div class="et_pb_row et_pb_row_1 et_pb_row_4col">
                                <div
                                    class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon et-animated">l</span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>EDITING</span></h4>

                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>24/7 SERVICES</span></h4>

                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>QUALITY</span></h4>

                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>REASONABLE PRICE</span></h4>

                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_3 et_section_regular">




                            <div class="et_pb_row et_pb_row_2">
                                <div
                                    class="et_pb_column et_pb_column_2_5 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>HOW CAN WE HELP ?</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>It isn’t easy to take good real estate photographs of your home. However,
                                                we can fix this problem for you! Our real estate photo editors will
                                                enhance the real estate photos and make them look great!</p>
                                            <p>We will turn your ugly duckling into a beautiful swan and get you more
                                                sales. So, don’t worry if your real estate photos have turned out bad,
                                                we are here to save the day.</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div class="et_pb_button_module_wrapper et_pb_button_1_wrapper  et_pb_module ">
                                        <a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="">READ ME</a>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_3_5 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div class="et_pb_module et_pb_image et_pb_image_1">


                                        <span class="et_pb_image_wrap "><img loading="lazy"
                                                src="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg"
                                                alt="" title="880 Oak Park Cir-1 AFTER" height="auto" width="auto"
                                                srcset="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-480x320.jpg 480w"
                                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                class="wp-image-210"></span>
                                    </div>
                                    <div class="et_pb_module et_pb_image et_pb_image_2">


                                        <span class="et_pb_image_wrap "><img loading="lazy"
                                                src="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg"
                                                alt="" title="VIRTUAL STAGING AFTER" height="auto" width="auto"
                                                srcset="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER-480x320.jpg 480w"
                                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                class="wp-image-195"></span>
                                    </div>
                                    <div class="et_pb_module et_pb_image et_pb_image_3">


                                        <span class="et_pb_image_wrap "><img loading="lazy"
                                                src="http://photoediting4u.com/wp-content/uploads/2021/06/RETOUCH-DSC_8957-AFTER.jpg"
                                                alt="" title="RETOUCH DSC_8957 AFTER" height="auto" width="auto"
                                                srcset="http://photoediting4u.com/wp-content/uploads/2021/06/RETOUCH-DSC_8957-AFTER.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/RETOUCH-DSC_8957-AFTER-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/RETOUCH-DSC_8957-AFTER-480x320.jpg 480w"
                                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                class="wp-image-233"></span>
                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">




                            <div class="et_pb_row et_pb_row_3">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_text_align_left-tablet et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>OUR PORTFOLIO</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p style="text-align: center;">Check out our portfolio for real estate photo
                                                editing of our previous clients. Our goal is to exceed the expectations
                                                of our clients and produce high-quality images which will sell homes
                                                faster.&nbsp;</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_4">
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>RETOUCHING</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module dsm_before_after_image dsm_before_after_image_0 et_clickable">




                                        <div class="et_pb_module_inner">
                                            <div
                                                class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                                                <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                                                    data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                                                    style="height: 207.016px;">


                                                    <img src="http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-1.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-1.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-1-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-1-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-before"
                                                        style="clip: rect(0px, 155.196px, 207.016px, 0px);"><img
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/07/RETOUCH-STANDARD-DJI_0387-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-after"
                                                        style="clip: rect(0px, 310.391px, 207.016px, 155.196px);">
                                                    <div class="dsm-before-after-image-slider-overlay">
                                                        <div class="dsm-before-after-image-slider-before-label"
                                                            data-content="Before"></div>
                                                        <div class="dsm-before-after-image-slider-after-label"
                                                            data-content="After"></div>
                                                    </div>
                                                    <div class="dsm-before-after-image-slider-handle"
                                                        style="left: 155.196px;"><span
                                                            class="dsm-before-after-image-slider-left-arrow"></span><span
                                                            class="dsm-before-after-image-slider-right-arrow"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>PHOTO EDITING</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_4">


                                        <a href="http://photoediting4u.com/photo-editing/"><span
                                                class="et_pb_image_wrap "><img loading="lazy"
                                                    src="http://photoediting4u.com/wp-content/uploads/2021/07/PhotoeditingDSC01566.jpg"
                                                    alt="" title="TWILIGHT" height="auto" width="auto"
                                                    srcset="http://photoediting4u.com/wp-content/uploads/2021/07/PhotoeditingDSC01566.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/07/PhotoeditingDSC01566-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/07/PhotoeditingDSC01566-480x320.jpg 480w"
                                                    sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                    class="wp-image-498"></span></a>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>FLOOR PLAN</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_5">


                                        <a href="http://photoediting4u.com/floor-plan/"><span
                                                class="et_pb_image_wrap "><img loading="lazy"
                                                    src="http://photoediting4u.com/wp-content/uploads/2021/06/photohome-3d-floor-1.jpg"
                                                    alt="" title="George Marin_ko_mau" height="auto" width="auto"
                                                    srcset="http://photoediting4u.com/wp-content/uploads/2021/06/photohome-3d-floor-1.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/photohome-3d-floor-1-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/photohome-3d-floor-1-480x320.jpg 480w"
                                                    sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                    class="wp-image-202"></span></a>
                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_5">
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>VIRTUAL DUSK</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module dsm_before_after_image dsm_before_after_image_1 et_clickable">




                                        <div class="et_pb_module_inner">
                                            <div
                                                class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                                                <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                                                    data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                                                    style="height: 207.016px;">


                                                    <img src="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-BEFORE.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-BEFORE.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-BEFORE-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-BEFORE-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-before"
                                                        style="clip: rect(0px, 155.196px, 207.016px, 0px);"><img
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-after"
                                                        style="clip: rect(0px, 310.391px, 207.016px, 155.196px);">
                                                    <div class="dsm-before-after-image-slider-overlay">
                                                        <div class="dsm-before-after-image-slider-before-label"
                                                            data-content="Before"></div>
                                                        <div class="dsm-before-after-image-slider-after-label"
                                                            data-content="After"></div>
                                                    </div>
                                                    <div class="dsm-before-after-image-slider-handle"
                                                        style="left: 155.196px;"><span
                                                            class="dsm-before-after-image-slider-left-arrow"></span><span
                                                            class="dsm-before-after-image-slider-right-arrow"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>VIRTUAL STAGING</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module dsm_before_after_image dsm_before_after_image_2 et_clickable">




                                        <div class="et_pb_module_inner">
                                            <div
                                                class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                                                <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                                                    data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                                                    style="height: 207.016px;">


                                                    <img src="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-BEFORE.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-BEFORE.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-BEFORE-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-BEFORE-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-before"
                                                        style="clip: rect(0px, 155.196px, 207.016px, 0px);"><img
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg"
                                                        alt="" title=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg 1000w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER-980x654.jpg 980w, http://photoediting4u.com/wp-content/uploads/2021/06/VIRTUAL-STAGING-AFTER-480x320.jpg 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                                        class="skip-lazy dsm-before-after-image-slider-after"
                                                        style="clip: rect(0px, 310.391px, 207.016px, 155.196px);">
                                                    <div class="dsm-before-after-image-slider-overlay">
                                                        <div class="dsm-before-after-image-slider-before-label"
                                                            data-content="Before"></div>
                                                        <div class="dsm-before-after-image-slider-after-label"
                                                            data-content="After"></div>
                                                    </div>
                                                    <div class="dsm-before-after-image-slider-handle"
                                                        style="left: 155.196px;"><span
                                                            class="dsm-before-after-image-slider-left-arrow"></span><span
                                                            class="dsm-before-after-image-slider-right-arrow"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>VIDEO EDITING</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div class="et_pb_module et_pb_code et_pb_code_0">


                                        <div class="et_pb_code_inner">
                                            <div class="fluid-width-video-wrapper" style="padding-top: 66.3102%;">
                                                <iframe loading="lazy" src="https://www.youtube.com/embed/nuILVuI-CbI"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen="" name="fitvid0"></iframe></div>
                                        </div>
                                    </div> <!-- .et_pb_code -->
                                    <div class="et_pb_module et_pb_video et_pb_video_0">




                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_6">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_right et_pb_module ">
                                        <a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light"
                                            href="http://photoediting4u.com/services/">VIEW MORE</a>
                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_5 et_section_regular">




                            <div class="et_pb_row et_pb_row_7">
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>CONTACT US</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div id="et_pb_contact_form_0"
                                        class="et_pb_with_border et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix"
                                        data-form_unique_num="0">



                                        <div class="et-pb-contact-message"></div>

                                        <div class="et_pb_contact">
                                            <form class="et_pb_contact_form clearfix" method="post"
                                                action="http://photoediting4u.com/">
                                                <p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_half"
                                                    data-id="first_name" data-type="input">


                                                    <label for="et_pb_contact_first_name_0"
                                                        class="et_pb_contact_form_label">First Name</label>
                                                    <input type="text" id="et_pb_contact_first_name_0" class="input"
                                                        value="" name="et_pb_contact_first_name_0"
                                                        data-required_mark="required" data-field_type="input"
                                                        data-original_id="first_name" placeholder="First Name">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half et_pb_contact_field_last"
                                                    data-id="last_name" data-type="input">


                                                    <label for="et_pb_contact_last_name_0"
                                                        class="et_pb_contact_form_label">Last Name</label>
                                                    <input type="text" id="et_pb_contact_last_name_0" class="input"
                                                        value="" name="et_pb_contact_last_name_0"
                                                        data-required_mark="required" data-field_type="input"
                                                        data-original_id="last_name" placeholder="Last Name">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last"
                                                    data-id="email" data-type="email">


                                                    <label for="et_pb_contact_email_0"
                                                        class="et_pb_contact_form_label">Email Address</label>
                                                    <input type="text" id="et_pb_contact_email_0" class="input" value=""
                                                        name="et_pb_contact_email_0" data-required_mark="required"
                                                        data-field_type="email" data-original_id="email"
                                                        placeholder="Email Address">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_last"
                                                    data-id="phone_number" data-type="input">


                                                    <label for="et_pb_contact_phone_number_0"
                                                        class="et_pb_contact_form_label">Phone Number</label>
                                                    <input type="text" id="et_pb_contact_phone_number_0" class="input"
                                                        value="" name="et_pb_contact_phone_number_0"
                                                        data-required_mark="required" data-field_type="input"
                                                        data-original_id="phone_number" placeholder="Phone Number">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_4 et_pb_contact_field_last"
                                                    data-id="city_state" data-type="input">


                                                    <label for="et_pb_contact_city_state_0"
                                                        class="et_pb_contact_form_label">City State</label>
                                                    <input type="text" id="et_pb_contact_city_state_0" class="input"
                                                        value="" name="et_pb_contact_city_state_0"
                                                        data-required_mark="required" data-field_type="input"
                                                        data-original_id="city_state" placeholder="City State">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_5 et_pb_contact_field_last"
                                                    data-id="zip_code" data-type="input">


                                                    <label for="et_pb_contact_zip_code_0"
                                                        class="et_pb_contact_form_label">Zip Code</label>
                                                    <input type="text" id="et_pb_contact_zip_code_0" class="input"
                                                        value="" name="et_pb_contact_zip_code_0"
                                                        data-required_mark="required" data-field_type="input"
                                                        data-original_id="zip_code" placeholder="Zip Code">
                                                </p>
                                                <p class="et_pb_contact_field et_pb_contact_field_6 et_pb_contact_field_last"
                                                    data-conditional-logic="[[&quot;first_name&quot;,&quot;is&quot;,&quot;&quot;]]"
                                                    data-conditional-relation="any" data-id="select_services"
                                                    data-type="select" style="display: block;">


                                                    <label for="et_pb_contact_select_services_0"
                                                        class="et_pb_contact_form_label">Select Services</label>
                                                    <select id="et_pb_contact_select_services_0"
                                                        class="et_pb_contact_select input"
                                                        name="et_pb_contact_select_services_0"
                                                        data-required_mark="required" data-field_type="select"
                                                        data-original_id="select_services">
                                                        <option value="">Select Services</option>
                                                        <option value="Retouching">Retouching</option>
                                                        <option value="Photo Editing">Photo Editing</option>
                                                        <option value="Floor Plan">Floor Plan</option>
                                                        <option value="Virtual Dusk">Virtual Dusk</option>
                                                        <option value="Video Editing">Video Editing</option>
                                                    </select>
                                                </p>
                                                <input type="hidden" value="et_contact_proccess"
                                                    name="et_pb_contactform_submit_0">
                                                <div class="et_contact_bottom_container">

                                                    <button type="submit" name="et_builder_submit_button"
                                                        class="et_pb_contact_submit et_pb_button">SENT MESSAGE</button>
                                                </div>
                                                <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-0"
                                                    name="_wpnonce-et-pb-contact-form-submitted-0"
                                                    value="bbe4c753c6"><input type="hidden" name="_wp_http_referer"
                                                    value="/">
                                            </form>
                                        </div> <!-- .et_pb_contact -->
                                    </div> <!-- .et_pb_contact_form_container -->

                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>ABOUT US</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_14  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>At Photo Home, we provide photo editing services for real estate agents
                                                and home sellers who need help staging their listings to sell houses
                                                faster and easier. Our team comprises professionals who have years of
                                                experience in real estate photo editing and visual design- meaning you
                                                get photos that look great and will show your property at its
                                                best!&nbsp;</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_15  et_pb_text_align_left et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>We offer fast turnaround times, so you don’t miss out on potential buyers
                                                waiting around for new photos to be uploaded.</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular">




                            <div class="et_pb_row et_pb_row_8">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_16  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>TESTIMONIALS</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_17  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p><em>I love what Photo Home has done with my real estate photos. The
                                                    photos I sent look unprofessional as I shot them in a hurry. They
                                                    edited it to look like they were shot by a professional and
                                                    delivered it to me very quickly.</em></p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_18  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>– Lorren Daro</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_7 et_section_regular">




                            <div class="et_pb_row et_pb_row_9">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>PHOTO EDITING PRICING</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_10 et_pb_equal_columns et_pb_gutters2">
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h2 class="et_pb_module_header"><span>RETOUCHING</span></h2>
                                                <div class="et_pb_blurb_description">
                                                    <h2><span style="color: #999999;"><em>FROM 1$</em></span></h2>
                                                    <p>We offer photo retouching for real estate agents and homeowners
                                                        who want their photos to look perfect! Our team of professionals
                                                        will make sure that all the little details are taken care of so
                                                        that customers feel confident in choosing the home.</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light"
                                            href="http://photoediting4u.com/price/">DETAIL</a>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_21  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h2 class="et_pb_module_header"><span>DAY NIGHT CONVERSION</span></h2>
                                                <div class="et_pb_blurb_description">
                                                    <h2><span style="color: #999999;"><em>FROM 5$</em></span></h2>
                                                    <p>Showcase your real estate in a day-to-night conversion. If you
                                                        are interested in selling your house, show it in both day and
                                                        night environments. Potential buyers like to see how the light
                                                        plays on home throughout the day.</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <a class="et_pb_button et_pb_button_4 et_pb_bg_layout_light"
                                            href="http://photoediting4u.com/price/">DETAIL</a>
                                    </div>
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_22  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                                        class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h2 class="et_pb_module_header"><span>PHOTO EDITING</span></h2>
                                                <div class="et_pb_blurb_description">
                                                    <h2><span style="color: #999999;"><em>FROM 1$</em></span></h2>
                                                    <p>We provide real estate photo editing services for all needs, and
                                                        whether it’s enhancing colors or removing unwanted objects in
                                                        the background, we have you covered! That is why we provide a
                                                        solution that brings professional photo editing services
                                                        affordable to everyone.</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                                        <a class="et_pb_button et_pb_button_5 et_pb_bg_layout_light"
                                            href="http://photoediting4u.com/price/">DETAIL</a>
                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">




                            <div class="et_pb_row et_pb_row_11">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>HOW IT WORKS</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_12">
                                <div
                                    class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_21  et_pb_text_align_right et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>FILL OUR CONTACT FORM</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-265 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">

                                                <div class="et_pb_blurb_description">
                                                    <p>Contact us by filling out our form</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_13">
                                <div
                                    class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_26  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_22  et_pb_text_align_right et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>We will contact you by E-mail</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-264 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">

                                                <div class="et_pb_blurb_description">
                                                    <p>WE WILL SEND YOU AN EMAIL</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_14">
                                <div
                                    class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_28  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_23  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p style="text-align: right;">LET US KNOW YOUR REQUIREMENTS</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-263 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">

                                                <div class="et_pb_blurb_description">
                                                    <p>Let us know types of tasks do you need</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_15">
                                <div
                                    class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_30  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_24  et_pb_text_align_right et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>You can e-mail us the photos via Google Drive or Dropbox&nbsp;</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_31  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_10  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-262 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">

                                                <div class="et_pb_blurb_description">
                                                    <p><span>SEND US YOUR PHOTOS</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->
                            <div class="et_pb_row et_pb_row_16">
                                <div
                                    class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_32  et_pb_css_mix_blend_mode_passthrough">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_25  et_pb_text_align_right et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <p>RECEIVE YOUR EDITED PHOTOS</p>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                </div> <!-- .et_pb_column -->
                                <div
                                    class="et_pb_column et_pb_column_1_2 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_11  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-261 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">

                                                <div class="et_pb_blurb_description">
                                                    <p>Let us do our magic and we will send your edited photos</p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                        <div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular">




                            <div class="et_pb_row et_pb_row_17">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_34  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_text et_pb_text_26  et_pb_text_align_center et_pb_bg_layout_light">


                                        <div class="et_pb_text_inner">
                                            <h2>HOW IT WORK</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_12  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-265 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>FILL OUR CONTACT FORM</span></h4>
                                                <div class="et_pb_blurb_description">
                                                    <p><span>Contact us by filling out our form</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_13  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-264 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>WE WILL SEND YOU AN EMAIL</span>
                                                </h4>
                                                <div class="et_pb_blurb_description">
                                                    <p><span>We will contact you by E-mail</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_14  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-263 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>LET US KNOW YOUR
                                                        REQUIREMENTS</span></h4>
                                                <div class="et_pb_blurb_description">
                                                    <p><span>Let us know types of tasks do you need</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_15  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-262 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>SEND US YOUR PHOTOS</span></h4>
                                                <div class="et_pb_blurb_description">
                                                    <p><span>You can e-mail us the photos via Google Drive or
                                                            Dropbox</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                    <div
                                        class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_16  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                                        <div class="et_pb_blurb_content">
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                                        loading="lazy" width="200" height="200"
                                                        src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg"
                                                        alt=""
                                                        srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4-150x150.jpg 150w"
                                                        sizes="(max-width: 200px) 100vw, 200px"
                                                        class="et-waypoint et_pb_animation_top wp-image-261 et-animated"></span>
                                            </div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><span>RECEIVE YOUR EDITED PHOTOS</span>
                                                </h4>
                                                <div class="et_pb_blurb_description">
                                                    <p><span>Let us do our magic and we will send your edited
                                                            photos</span></p>
                                                </div>
                                            </div>
                                        </div> <!-- .et_pb_blurb_content -->
                                    </div> <!-- .et_pb_blurb -->
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->


                        </div> <!-- .et_pb_section -->
                    </div><!-- .et_builder_inner_content -->
                </div><!-- .et-l -->
            </div> <!-- .entry-content -->


        </article> <!-- .et_pb_post -->



    </div> <!-- #main-content -->

    <footer class="et-l et-l--footer">
        <div class="et_builder_inner_content et_pb_gutters3">
            <div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular">




                <div class="et_pb_row et_pb_row_0_tb_footer et_pb_equal_columns et_pb_gutters1">
                    <div
                        class="et_pb_column et_pb_column_1_3 et_pb_column_0_tb_footer  et_pb_css_mix_blend_mode_passthrough">


                        <div class="et_pb_module et_pb_image et_pb_image_0_tb_footer">


                            <span class="et_pb_image_wrap "><img loading="lazy"
                                    src="http://photoediting4u.com/wp-content/uploads/2021/06/image-1.png" alt=""
                                    title="logo" height="auto" width="auto" class="wp-image-81"></span>
                        </div>
                        <div
                            class="et_pb_module et_pb_text et_pb_text_0_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


                            <div class="et_pb_text_inner">
                                <p style="text-align: center;"><span>The Magic Of Realistic </span><span>Real Estate
                                        Photo Editing</span></p>
                            </div>
                        </div> <!-- .et_pb_text -->
                    </div> <!-- .et_pb_column -->
                    <div
                        class="et_pb_column et_pb_column_1_3 et_pb_column_1_tb_footer  et_pb_css_mix_blend_mode_passthrough">


                        <div
                            class="et_pb_module et_pb_text et_pb_text_1_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


                            <div class="et_pb_text_inner">
                                <p>FOLLOW US</p>
                            </div>
                        </div> <!-- .et_pb_text -->
                        <ul
                            class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0_tb_footer clearfix  et_pb_text_align_center-tablet et_pb_bg_layout_light">


                            <li
                                class="et_pb_social_media_follow_network_0_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0_tb_footer">
                                <a href="https://www.facebook.com/profile.php?id=100055614186822"
                                    class="icon et_pb_with_border" title="Follow on Facebook" target="_blank"><span
                                        class="et_pb_social_media_follow_network_name"
                                        aria-hidden="true">Follow</span></a></li>
                            <li
                                class="et_pb_social_media_follow_network_1_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1_tb_footer">
                                <a href="#" class="icon et_pb_with_border" title="Follow on Twitter"
                                    target="_blank"><span class="et_pb_social_media_follow_network_name"
                                        aria-hidden="true">Follow</span></a></li>
                            <li
                                class="et_pb_social_media_follow_network_2_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_2_tb_footer">
                                <a href="#" class="icon et_pb_with_border" title="Follow on Instagram"
                                    target="_blank"><span class="et_pb_social_media_follow_network_name"
                                        aria-hidden="true">Follow</span></a></li>
                        </ul> <!-- .et_pb_counters -->
                    </div> <!-- .et_pb_column -->
                    <div
                        class="et_pb_column et_pb_column_1_3 et_pb_column_2_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">


                        <div
                            class="et_pb_module et_pb_text et_pb_text_2_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


                            <div class="et_pb_text_inner">
                                <h1>CONTACT US</h1>
                                <h1><a href="mailto:info@photoediting4u.com">info@photoediting4u.com</a></h1>
                                <p><span>+840349729358</span></p>
                            </div>
                        </div> <!-- .et_pb_text -->
                    </div> <!-- .et_pb_column -->


                </div> <!-- .et_pb_row -->


            </div> <!-- .et_pb_section -->
          
        </div><!-- .et_builder_inner_content -->
    </footer><!-- .et-l -->
</div>