<div class="et_pb_section et_pb_section_7 et_section_regular">
    <div class="et_pb_row et_pb_row_9">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_center et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <h2>PHOTO EDITING PRICING</h2>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    
    <div class="et_pb_row et_pb_row_10 et_pb_equal_columns et_pb_gutters2">
        <div class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap">
                        <span class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span></div>
                    <div class="et_pb_blurb_container">
                        <h2 class="et_pb_module_header"><span>RETOUCHING</span></h2>
                        <div class="et_pb_blurb_description">
                            <h2><span style="color: #999999;"><em>FROM 1$</em></span></h2>
                            <p>We offer photo retouching for real estate agents and homeowners who want
                                their photos
                                to look perfect! Our team of professionals will make sure that all the
                                little details
                                are taken care of so that customers feel confident in choosing the home.
                            </p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
            <div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
                <a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light"
                    href="http://photoediting4u.com/price/">DETAIL</a>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_21  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"> <span class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span></div>
                    <div class="et_pb_blurb_container">
                        <h2 class="et_pb_module_header"><span>DAY NIGHT CONVERSION</span></h2>
                        <div class="et_pb_blurb_description">
                            <h2><span style="color: #999999;"><em>FROM 5$</em></span></h2>
                            <p>Showcase your real estate in a day-to-night conversion. If you are
                                interested in
                                selling your house, show it in both day and night environments.
                                Potential buyers like
                                to see how the light plays on home throughout the day.</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
            <div
                class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
                <a class="et_pb_button et_pb_button_4 et_pb_bg_layout_light"
                    href="http://photoediting4u.com/price/">DETAIL</a>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_22  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div  class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap">
                        <span class="et-waypoint et_pb_animation_top et-pb-icon">j</span></span></div>
                    <div class="et_pb_blurb_container">
                        <h2 class="et_pb_module_header"><span>PHOTO EDITING</span></h2>
                        <div class="et_pb_blurb_description">
                            <h2><span style="color: #999999;"><em>FROM 1$</em></span></h2>
                            <p>We provide real estate photo editing services for all needs, and whether
                                it’s
                                enhancing colors or removing unwanted objects in the background, we have
                                you covered!
                                That is why we provide a solution that brings professional photo editing
                                services
                                affordable to everyone.</p>
                        </div>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
            <div
                class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                <a class="et_pb_button et_pb_button_5 et_pb_bg_layout_light"
                    href="http://photoediting4u.com/price/">DETAIL</a>
            </div>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->
