<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">

    <div class="et_pb_row et_pb_row_1 et_pb_row_4col">
        <div class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon">l</span></span></div>
                    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>EDITING</span></h4>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
            <div  class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon"></span></span></div>
                    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>24/7 SERVICES</span></h4>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon"></span></span>
                    </div>
                    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>QUALITY</span></h4>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
                <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"> <span class="et-waypoint et_pb_animation_top et-pb-icon"></span></span>
                    </div>
                    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>REASONABLE PRICE</span></h4>
                    </div>
                </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->


<script>
    $(document).ready(function () {
        LoadServicesBackground();
    })

    function LoadServicesBackground() {
        $.ajax({
            url: '/load-services-background',
            type: 'get',
            success: function (data) {                                
                 $('.et_pb_section_2').css('background-image', 'url(' + data.bg.value + ')');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('.et_pb_section_2').css('background-image', 'url(' + "/uploads/2021/07/PhotoeditingDSC01560.jpg" + ')');               
            }
        })
    }
</script>
