<div class="et_pb_section et_pb_section_0 et_pb_fullwidth_section et_section_regular">
    <div class="et_pb_module et_pb_fullwidth_slider_0 et_pb_slider et_pb_bg_layout_dark et_multi_view__hover_selector"
        data-active-slide="et_pb_slide_0">
        <div class="et_pb_slides">
            <div class="et_pb_slide et_pb_slide_0 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-active-slide"
                data-slide-id="et_pb_slide_0">


                <div class="et_pb_container clearfix" style="height: 535.344px;">
                    <div class="et_pb_slider_container_inner">

                        <div class="et_pb_slide_description">
                            <h1 class="et_pb_slide_title">PHOTO EDITING FOR YOU</h1>
                            <div class="et_pb_slide_content"
                                data-et-multi-view="{&quot;schema&quot;:{&quot;content&quot;:{&quot;desktop&quot;:&quot;<p>Photo Editing For Real Estate<\/p>\n<p>At An Affordable Price<\/p>&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;phone&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis purus non<\/p>&quot;}},&quot;slug&quot;:&quot;et_pb_slide&quot;}"
                                data-et-multi-view-load-tablet-hidden="true"
                                data-et-multi-view-load-phone-hidden="true">
                                <p>Photo Editing For Real Estate</p>
                                <p>At An Affordable Price</p>
                            </div>
                            <div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="#">LET'S
                                    GET STARTED</a></div>
                        </div> <!-- .et_pb_slide_description -->
                    </div>
                </div> <!-- .et_pb_container -->

            </div> <!-- .et_pb_slide -->

        </div> <!-- .et_pb_slides -->

    </div> <!-- .et_pb_slider -->



</div> <!-- .et_pb_section -->