<div class="photoHome py-40">
  <div class="container">
    <h1 class="text-center yellow-color">
      <strong>OUR PORTFOLIO</strong>
    </h1>

    <div class="mt-30 row" id="sgs_with_avatar"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $.ajax({
      url: "/sub-group-with-avatar",
      type: "get",
      success: function (data) {
        $("#sgs_with_avatar").empty();

        data.sgs.forEach((sg) => {
          let item = '<div class="col-md-4 mb-20">';
          item += '<a href="/category/'+sg.group.metatitle+'/'+sg.metatitle+'">';
          item += '<img src="' + sg.thumbnail + '" class="img-thumbnail avatar">';
          item += "</a>";
          item+='<h4 class="text-info text-uppercase font-weight-bold mt-1">'+sg.name+'</h4>';
          item += "</div>";
          item += "</div>";
          $("#sgs_with_avatar").append(item);
        });
      },
      error: function (err) {},
    });
  });
</script>

<style>
  .img-thumbnail {
    max-width: 100% !important;
    min-width: 353px !important;
    height: 220px !important;
  }
</style>
