<div class="et_pb_section et_pb_section_1 et_section_regular">

    <div class="et_pb_row et_pb_row_0">
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_0">


                <span class="et_pb_image_wrap "><img loading="lazy" src="/uploads/2021/07/RETOUCH-STANDARD-DJI_0387.jpg"
                        alt="" title="RETOUCH STANDARD DJI_0387" height="auto" width="auto"
                        srcset="/uploads/2021/07/RETOUCH-STANDARD-DJI_0387.jpg 1000w, /uploads/2021/07/RETOUCH-STANDARD-DJI_0387-980x654.jpg 980w, /uploads/2021/07/RETOUCH-STANDARD-DJI_0387-480x320.jpg 480w"
                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                        class="wp-image-522"></span>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_with_border et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <h2>WHAT WE DO</h2>
                </div>
            </div> <!-- .et_pb_text -->
            <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <p>Photo Home provides the best photo editing service for real estate. Our team will
                        make
                        your property photos look it’s absolute best! We offer virtual staging,
                        floorplans, and
                        panorama services as well.</p>
                    <p>Let us help you sell more homes by making your real estate media irresistible to
                        potential buyers with our unique photo editing and design skills.&nbsp;</p>
                </div>
            </div> <!-- .et_pb_text -->
            <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
                <a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="">READ ME</a>
            </div>
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section -->