<div id="img_container" class="text-center">
    <img src="/uploads/2021/07/PhotoeditingDSC01560.jpg" class="img-fluid img-thumbnail" id="services_background" />
    <button class="button btn btn-sm btn-success" id="btnChangePhoto">
        <i class="fa fa-camera text-warning" aria-hidden="true"></i>
    </button>
</div>
<%-include('modalChangeBackground')-%>
    <script>
        $(document).ready(function () {
            LoadServicesBackground();
        })
        $('#btnChangePhoto').click(function () {
            $('#modalChangeBackground').modal();
        })

        function LoadServicesBackground() {
            $.ajax({
                url: '/admin/config/load-services-background',
                type: 'get',
                headers: {
                    Authorization: "Bamboo " + getACCESS_TOKEN(),
                },
                success: function (data) {
                    $('#services_background').attr('src', data.bg.value);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#services_background').attr('src', "/uploads/2021/07/PhotoeditingDSC01560.jpg");
                    console.log(errorThrown.response.data.msg);
                },
            })
        }
    </script>

    <style>
        #img_container {
            position: relative;
            display: inline-block;
            text-align: center;
            border: 1px solid red;
        }

        .button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 100px;
            height: 30px;
            opacity: 50%;
        }

        .button:hover {
            opacity: 100%;
        }
    </style>