.navbar .navbar-nav .nav-link {
    font-family: "navbar-font";
    color: #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

.navbar .navbar-nav .nav-link:hover {
    color: #808080;
}

.navbar-nav .nav-link {
    padding: 1.5em 1em;
}


.navbar img {
    margin-top: 10px;
    width: 80px;
    height: auto;
}


.main-nav {
    margin-top: -2px;
}

.main-nav>ul {
    font-size: 0;
}

nav ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@font-face {
    font-family: "navbar-font";
    src: url("/fonts/Franklin Gothic Demi Cond Regular.ttf");
}





@font-face {
    font-family: 'Cabin';
    src: url("/fonts/Cabin-Regular.ttf") format("truetype");
}

/*@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }*/
@font-face {
    font-family: 'Cabin';
    src: url("/fonts/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Cabin';
    src: url("/fonts/Cabin-Bold.ttf") format("truetype");
    font-weight: bold;
}


.main-nav>ul {
    font-size: 0;
}

.main-nav>ul>li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 7px;
}

.main-nav>ul>li:last-child {
    margin-right: 0;
}

.main-nav>ul>li>a {
    display: block;
    text-transform: uppercase;
    /*color: #666;*/
    font-weight: 500;
    padding: 12px 12px 12px 12px;
}

.main-nav>ul>li>a:not(:only-child):after {
    font-family: "FontAwesome";
    content: "";
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
    margin-top: -3px;
}

.main-nav>ul>li>a span {
    font-size: 16px;
    line-height: 21px;
}

.main-nav>ul>li:hover>a {
    color: #d71921;
}

.main-nav>ul>li:hover:before {
    content: '';
    background: #d71921;
}

.main-nav>ul>li:before {
    content: '';
    background: transparent;
    width: 92px;
    height: 2px;
    top: 0;
    display: block;
    margin: 0 auto;
}

.main-nav>ul>li.actions:before {
    display: none;
}

.main-nav>ul>li.actions span {
    cursor: pointer;
    padding: 14px 20px 14px 20px;
    color: #666;
}

.main-nav>ul>li.actions span.input-group-addon {
    background: transparent;
    border: 0;
    padding: 0;
}

.main-nav>ul>li.actions .input-group-addon button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}

.main-nav li {
    position: relative;
    text-align: left;
}

.main-nav li ul {
    position: absolute;
    min-width: 238px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    margin-top: 10px;
    pointer-events: none;
    opacity: 0;
    padding: 8px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.main-nav li ul ul {
    left: 100%;
    top: 0;
    padding-top: 0;
    padding-left: 5px;
}

.main-nav li ul a {
    display: block;
    color: #212121;
    font-size: 14px;
    padding: 10px 25px 11px 20px;
    border-bottom: 1px solid #d7d7d7;
}

.main-nav li ul li:last-child a {
    border-bottom: none;
}

.main-nav li ul a:before {
    font-family: "FontAwesome";
    content: "";
    margin-right: 10px;
}

.main-nav li ul li:hover>a {
    color: #d71921;
}

.main-nav li:hover>ul {
    margin-top: 0;
    pointer-events: all;
    opacity: 1;
}
