<div class="modal" tabindex="-1" role="dialog" id="modalPostDetail">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="twenty-twenty" id="mComparison">
          <img src="" id="img_before" class="modalImage">
          <img src="" id="img_after" class="modalImage">
        </div>
        <div id="mSingle">
          <img src="" alt="">
        </div>
        <div id="mVideo">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/kjXx_npNK8s" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen\ id="srcVideo">
          </iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<link rel="stylesheet" href="/plugins/twenty-twenty/css/twentytwenty.min.css">
<link rel="stylesheet" href="/plugins/twenty-twenty/css/foundation.min.css">
<script src="/plugins/twenty-twenty/js/jquery.twentytwenty.min.js"></script>
<script src="/plugins/twenty-twenty/js/jquery.event.move.min.js"></script>


<script>
  $(function () {
    $('#twenty-twenty').twentytwenty();
  })
  $(document).on('show.bs.modal', '#modalPostDetail', function () {

  })
</script>


<style>
  .modalImage {
    width: 100%;
    min-height: 200px !important;
    height: auto;
  }

  #mVideo {
    display: flex;
    justify-content: center;
    margin: 0 auto;    
  }

  #twenty-twenty {
    min-height: 410px;
  }
</style>