<div class="row">
  <div class="col-sm-3">
    <select name="slGroups" id="slGroups" class="form-control"></select>
  </div>
  <div class="col-sm-4">
    <select name="slSubGroups" id="slSubGroups" class="form-control"></select>
  </div>

  <!-- phần tìm kiếm -->
  <div class="col-sm-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keyword ..." id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-dark" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- kết thúc phần tìm kiếm -->

  <div class="col-sm-1 text-right">
    <button id="btnAddPost" class="btn btn-success">+</button>
  </div>
</div>

<table class="table table-dark mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Caption</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="posts_list"></tbody>
</table>

<%-include('form')%> <%-include('detail')%>

    <script>
      var page = 1;
      var search = "";
      var type = -1;
      $(document).ready(function () {
        loadGroups();
      });

      $("#btnAddPost").click(function () {
        type = $('#slGroups option:selected').data('type');
        $("#modalPost").modal();
      });

      $(document).on('show.bs.modal', '#modalPost', function () {
        if (type == -1) {
          $('#single').show(100);
          $('#comparison').hide();
          $('#video').hide();
        } else {
          if (type == 0) {
            $('#single').hide();
            $('#comparison').show(100);
            $('#video').hide();
          } else {
            $('#single').hide();
            $('#comparison').hide();
            $('#video').show(100);
          }
        }

      });


      $(document).on("click", "button[name='btnUpdate']", function () {
        let id = $(this).closest("tr").attr("id");
        loadPostDetail(id);
      })

      $(document).on("click", "button[name='btnView']", function () {
        loadPostDetail($(this).closest("tr").attr("id"));
      });

      $(document).on("click", "button[name='btnDelete']", function () {
        let id = $(this).closest("tr").attr("id");
        Swal.fire({
          title: 'Bạn có chắc muốn xóa bài viết này?',
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          denyButtonText: 'No',
          customClass: {
            actions: 'my-actions',
            cancelButton: 'order-1 right-gap',
            confirmButton: 'order-2',
            denyButton: 'order-3',
          }
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: "/admin/post",
              type: "delete",
              headers: {
                authorization: "Bamboo " + getACCESS_TOKEN(),
              },
              data: {
                id: $(this).closest("tr").attr("id"),
              },
              success: function (data, textStatus, xhr) {
                Swal.fire({
                  icon: 'success',
                  title: 'Successfully!',
                  text: data.msg
                });
                loadPosts($('#slGroups option:selected').val(), page, search)
              },
              error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
              },
            });
          }
        })
      })

      function loadPostDetail(postId) {
        console.log(postId)
        $.ajax({
          url: "/admin/post/detail",
          type: "get",
          headers: {
            Authorization: "Bamboo " + getACCESS_TOKEN(),
          },
          data: {
            postId
          },
          success: function (data) {
            console.log(data);
            $("#modalPostDetail").modal();
            if (data.p.sub_group.group == -1) {

            } else
              if (data.p.sub_group.group.type == 0) {
                $("#img_before").attr("src", data.post.img_before);
                $("#img_after").attr("src", data.post.img_after);
              } else {

              }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        });
      }

      $("#modalPost").on("hidden.bs.modal", function () {
        loadPosts($("#slSubGroups").val(), page, search);
      });

      function loadPosts(subGroupId, page, search) {
        $.ajax({
          url: "/admin/post/list",
          type: "get",
          headers: {
            Authorization: "Bamboo " + getACCESS_TOKEN(),
          },
          data: {
            page,
            search,
            subGroupId,
          },
          success: function (data) {
            $("#posts_list").empty();
            let idx = 1;
            data.posts.forEach((p) => {
              let tr = '<tr id="' + p._id + '">';
              tr += "<td>" + idx++ + "</td>";
              tr += '<td class="font-weight-bold">' + p.caption + "</td>";
              tr += '<td>' + p.description + '</td>';
              tr +=
                '<td class="text-right"><button class="btn btn-sm btn-info" name="btnView"><i class="fa fa-eye" aria-hidden="true"></i></button>';
              tr +=
                '<button class="btn btn-sm btn-warning ml-2" name="btnUpdate"><i class="fa fa-edit"></i></button>';
              tr +=
                '<button class="btn btn-sm btn-danger ml-2" name="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
              tr += "</tr>";
              $("#posts_list").append(tr);
            });
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        });
      }

      function loadGroups() {
        $.ajax({
          url: "/admin/group/list",
          type: "get",
          headers: {
            Authorization: "Bamboo " + getACCESS_TOKEN(),
          },
          success: function (data) {
            $("#slGroups").empty();
            data.groups.forEach((group) => {
              let opt =
                '<option value = "' + group._id + '" data-type="' + group.type + '">' + group.name + "</option>";
              $("#slGroups").append(opt);
            });
            loadSubGroupsByGroupId($("#slGroups").val());
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        });
      }

      $("#slGroups").on("change", function () {
        page = 1;
        search = $("#txtSearch").val();
        loadSubGroupsByGroupId($("#slGroups").val());
      });

      function loadSubGroupsByGroupId(groupId) {
        $.ajax({
          url: "/admin/sub-group/listById",
          type: "get",
          headers: {
            Authorization: "Bamboo " + getACCESS_TOKEN(),
          },
          data: {
            groupId
          },
          success: function (data) {
            $("#slSubGroups").empty();
            if (data.sgs.length > 0) {
              data.sgs.forEach((sg) => {
                let opt = '<option value = "' + sg._id + '">' + sg.name + "</option>";
                $("#slSubGroups").append(opt);
              });
              loadPosts($("#slSubGroups").val(), page, search);
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        });
      }
    </script>

    <style>
      .img-thumbnail {
        width: 300px !important;
        height: 188px !important;
      }
    </style>