<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BambooPhoto 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<script>
    $(document).ready(function(){
        GetProfile();
    })

    function GetProfile(){
        $.ajax({
            url:'/check-token',
            type:'get',
            headers: {
                authorization: "Bearer " + getACCESS_TOKEN(),
            },
            success: function (data) {              
                if(data.account){
                    $('#profileName').text(data.account.fullname);
                }else{
                    window.location.replace(getBaseUrl() +'/admin/login');
                }
            },
            error: function (request, status, error) {
                // console.log(request.responseJSON);
                console.log(0);
                window.location.replace(getBaseUrl() +request.responseJSON.url);
            }
        })
    }
</script>