<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BambooPhoto 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<script>
    $(document).ready(function(){
        
        $.ajax({
            url:'/check-token',
            type:'get',
            headers: {
                authorization: "Bearer " + getACCESS_TOKEN(),
            },
            success: function (data) {
                console.log(data)
            },
            error: function (request, status, error) {
                console.log(request.responseJSON);
                window.location.replace(getBaseUrl() +request.responseJSON.url);
            }
        })
    })
</script>