<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BambooPhoto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">      
        <li class="nav-item">
          <a class="nav-link" href="/admin/group">Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/sub-group">Sub group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/post">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/slider">Slider</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/config">Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/trial-order">Trial orders</a>
        </li>
      </ul>
       
        <button class="btn btn-warning btn-sm my-2" id="btnChangePassword">Change Password</button>
        <button class="btn btn-danger btn-sm my-2 ml-3" id="btnLogout">Logout</button>

    </div>
  </nav>

  <%-include('change_password')%>
  <script>
    $('#btnChangePassword').click(function(){
      $('#modalChangePassword').modal();
    })

    $('#btnLogout').click(function(){
      window.localStorage.removeItem('ACCESS_TOKEN');
      alert('You have logout');
      let baseUrl =getBaseUrl();
      $(location).attr('href', baseUrl+'/login');
    })
  </script>