<footer class="et-l et-l--footer">
    <div class="et_builder_inner_content et_pb_gutters3">
      <div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular">




        <div class="et_pb_row et_pb_row_0_tb_footer et_pb_equal_columns et_pb_gutters1">
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_0_tb_footer  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_image et_pb_image_0_tb_footer">


              <span class="et_pb_image_wrap "><img loading="lazy" src="/uploads/2021/06/image-1.png" alt=""
                  title="logo" height="auto" width="auto" class="wp-image-81"></span>
            </div>
            <div
              class="et_pb_module et_pb_text et_pb_text_0_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <p style="text-align: center;"><span>The Magic Of Realistic </span><span>Real Estate Photo
                    Editing</span></p>
              </div>
            </div> <!-- .et_pb_text -->
          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_1_tb_footer  et_pb_css_mix_blend_mode_passthrough">


            <div
              class="et_pb_module et_pb_text et_pb_text_1_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <p>FOLLOW US</p>
              </div>
            </div> <!-- .et_pb_text -->
            <ul
              class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0_tb_footer clearfix  et_pb_text_align_center-tablet et_pb_bg_layout_light">


              <li
                class="et_pb_social_media_follow_network_0_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0_tb_footer">
                <a href="https://www.facebook.com/profile.php?id=100055614186822" class="icon et_pb_with_border"
                  title="Follow on Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name"
                    aria-hidden="true">Follow</span></a></li>
              <li
                class="et_pb_social_media_follow_network_1_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1_tb_footer">
                <a href="#" class="icon et_pb_with_border" title="Follow on Twitter" target="_blank"><span
                    class="et_pb_social_media_follow_network_name" aria-hidden="true">Follow</span></a></li>
              <li
                class="et_pb_social_media_follow_network_2_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_2_tb_footer">
                <a href="#" class="icon et_pb_with_border" title="Follow on Instagram" target="_blank"><span
                    class="et_pb_social_media_follow_network_name" aria-hidden="true">Follow</span></a></li>
            </ul> <!-- .et_pb_counters -->
          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_2_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
              class="et_pb_module et_pb_text et_pb_text_2_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <h1>CONTACT US</h1>
                <h1><a href="mailto:info@photoediting4u.com">info@photoediting4u.com</a></h1>
                <p><span>+840349729358</span></p>
              </div>
            </div> <!-- .et_pb_text -->
          </div> <!-- .et_pb_column -->


        </div> <!-- .et_pb_row -->


      </div> <!-- .et_pb_section -->
      <div
        class="et_pb_with_border et_pb_section et_pb_section_1_tb_footer et_pb_with_background et_section_regular">




        <div class="et_pb_row et_pb_row_1_tb_footer et_pb_equal_columns et_pb_gutters1 et_pb_row_6col">
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_3_tb_footer  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_image et_pb_image_1_tb_footer">


              <span class="et_pb_image_wrap "><img loading="lazy" src="/images/GUI/logo.png" alt=""
                  title="logo" height="auto" width="auto" class="wp-image-81"></span>
            </div>
          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_4_tb_footer  et_pb_css_mix_blend_mode_passthrough">


            <div
              class="et_pb_module et_pb_text et_pb_text_3_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <p><span>The Magic Of Realistic</span><br><span>Real Estate Photo Editing</span></p>
              </div>
            </div> <!-- .et_pb_text -->
          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_5_tb_footer  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">



          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_6_tb_footer  et_pb_css_mix_blend_mode_passthrough">


            <div
              class="et_pb_module et_pb_text et_pb_text_4_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <p>FOLLOW US</p>
              </div>
            </div> <!-- .et_pb_text -->
            <ul
              class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_1_tb_footer clearfix  et_pb_bg_layout_light">


              <li
                class="et_pb_social_media_follow_network_3_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_3_tb_footer">
                <a href="https://www.facebook.com/profile.php?id=100055614186822" class="icon et_pb_with_border"
                  title="Follow on Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name"
                    aria-hidden="true">Follow</span></a></li>
              <li
                class="et_pb_social_media_follow_network_4_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_4_tb_footer">
                <a href="#" class="icon et_pb_with_border" title="Follow on Twitter" target="_blank"><span
                    class="et_pb_social_media_follow_network_name" aria-hidden="true">Follow</span></a></li>
              <li
                class="et_pb_social_media_follow_network_5_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_5_tb_footer">
                <a href="#" class="icon et_pb_with_border" title="Follow on Instagram" target="_blank"><span
                    class="et_pb_social_media_follow_network_name" aria-hidden="true">Follow</span></a></li>
            </ul> <!-- .et_pb_counters -->
          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_7_tb_footer  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">



          </div> <!-- .et_pb_column -->
          <div
            class="et_pb_column et_pb_column_1_6 et_pb_column_8_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
              class="et_pb_module et_pb_text et_pb_text_5_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <h1>CONTACT US</h1>
                <h1><a href="mailto:info@photoediting4u.com">info@bamboophoto.com</a></h1>
                <p><span>+84xxxxxxxxx</span></p>
              </div>
            </div> <!-- .et_pb_text -->
          </div> <!-- .et_pb_column -->


        </div> <!-- .et_pb_row -->


      </div> <!-- .et_pb_section -->
      <div class="et_pb_section et_pb_section_2_tb_footer et_pb_with_background et_section_regular">




        <div class="et_pb_row et_pb_row_2_tb_footer">
          <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_9_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
              class="et_pb_module et_pb_text et_pb_text_6_tb_footer  et_pb_text_align_center et_pb_bg_layout_light">


              <div class="et_pb_text_inner">
                <p>© Copyright 2022. All rights reserved. bamboophoto.com</p>
              </div>
            </div> <!-- .et_pb_text -->
          </div> <!-- .et_pb_column -->


        </div> <!-- .et_pb_row -->


      </div> <!-- .et_pb_section -->
    </div><!-- .et_builder_inner_content -->
  </footer><!-- .et-l -->