<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="#"><img src="/images/GUI/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bamboonav"
        aria-controls="bamboonav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bamboonav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/how-it-works">How it works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/why-choose-us">Why choose us</a>
            </li>
            <a class="d-none d-lg-block" href="/"><img src="/images/GUI/logo.png"></a>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/price">Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>

        </ul>
    </div>
</nav>
<hr style="color: #DDDDDD; " />



<nav class="main-nav">
    <ul>
        <li><a href="../home/" title="trang chu"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li>
            <a href="../photo-editing.html">PHOTO EDITING<i class="icon-angle-down"></i></a>
            <ul>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/Photo-editing.htm">Photo Enhancement</a>
                </li>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/Day-dusk.htm">Day To Dusk</a>
                </li>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/Retouching.htm">Item Removal</a>
                </li>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/panorama-stitching.htm">Panorama Stitching</a>
                </li>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/Portrait-Retouching.htm">Portrait Retouching</a>
                </li>
                <li>
                    <a class="smooth" href="http://photohome.com.vn/Clipping-path.htm">Clipping Path</a>
                </li>
            </ul>
        </li>
        <li>


            <a href="http://photohome.com.vn/2dfloorplan.htm">FLOOR PLAN</a>









            <ul>

                <li>

                    <a class="smooth" href="http://photohome.com.vn/2dfloorplan.htm">2D Black &amp; White</a>

                </li>

                <li>

                    <a class="smooth" href="http://photohome.com.vn/2dfloorplan.htm">2D Full Color</a>

                </li>

                <li>

                    <a class="smooth" href="http://photohome.com.vn/2dfloorplan.htm">2D Texture</a>

                </li>

                <li>

                    <a class="smooth" href="http://photohome.com.vn/2dfloorplan.htm">3D Full Colour</a>

                </li>

                <li>

                    <a class="smooth" href="http://photohome.com.vn/2dfloorplan.htm">Development Site Plan</a>

                </li>

            </ul>
        </li>
    </ul>
</nav>


<link rel="stylesheet" href="/css/navbar.css">