<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="#"><img src="/images/GUI/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bamboonav"
        aria-controls="bamboonav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bamboonav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/how-it-works">How it works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/why-choose-us">Why choose us</a>
            </li>
            <a class="d-none d-lg-block" href="/"><img src="/images/GUI/logo.png"></a>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/price">Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>

        </ul>
    </div>
</nav>
<hr style="color: #DDDDDD; " />



<nav class="main-nav">
    <ul>
    </ul>
</nav>


<link rel="stylesheet" href="/css/navbar.css">

<!-- đổ dữ liệu cho main nav -->
<script>
    $(document).ready(function () {
        $('.main-nav ul').empty();
        $('.main-nav ul').append('<li><a href="/" title="trang chu"><i class="fa fa-home" aria-hidden="true"></i></a></li>');

        $.ajax({
            url: '/group',
            type: 'get',
            success: function (data) {
                $('.main-nav ul').empty();
                $('.main-nav ul').append('<li><a href="/" title="trang chu"><i class="fa fa-home" aria-hidden="true"></i></a></li>');


                data.groups.forEach(g => {
                    let li = '';
                    if (g.subs.length > 0) {
                        li = ' <li><a href="/' + g.metatitle + '">' + g.name + '<i class="icon-angle-down"></i></a>';
                        li += '<ul>';
                            g.subs.forEach(s=>{
                                li += `<li><a class="smooth" href="/services/${g.metatitle}/${s.metatitle}">${s.name}</a></li>`;
                            })
                        li += '</ul>'
                        li += '</li>';
                        $('.main-nav ul').append(li);
                    }

                })

            }
        })
    })
</script>