<html lang="en-US" class="js">

<%-include('components/head')%>

  <body
    class="home page-template-default page page-id-8 et-tb-has-template et-tb-has-header et-tb-has-footer et_pb_button_helper_class et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css chrome">
    <div id="page-container">
      <div id="et-boc" class="et-boc">

        <%-include('components/header')%>

          <div id="et-main-area">
            <div id="main-content">
              <article id="post-8" class="post-8 page type-page status-publish hentry">
                <div class="entry-content">
                  <div class="et-l et-l--post">
                    <div class="et_builder_inner_content et_pb_gutters3">

                    <%-body-%>


                    </div><!-- .et_builder_inner_content -->
                  </div><!-- .et-l -->
                </div> <!-- .entry-content -->
              </article> <!-- .et_pb_post -->
            </div> <!-- #main-content -->
            <%-include('components/footer')%>
          </div> <!-- #et-main-area -->
      </div><!-- #et-boc -->
    </div> <!-- #page-container -->
    <meta http-equiv="imagetoolbar" content="no"><!-- disable image toolbar (if any) -->
    <style>
      :root {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -ms-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    </style>
    <script type="text/javascript">
     /*<![CDATA[*/
      document.oncontextmenu = function (event) {
        if (event.target.tagName != 'INPUT' && event.target.tagName != 'TEXTAREA') {
          event.preventDefault();
        }
      };
      document.ondragstart = function () {
        if (event.target.tagName != 'INPUT' && event.target.tagName != 'TEXTAREA') {
          event.preventDefault();
        }
      };
			/*]]>*/
    </script>
    <script type="text/javascript">
      var et_link_options_data = [{ "class": "dsm_before_after_image_0", "url": "http:\/\/photoediting4u.com\/retouching\/", "target": "_self" }, { "class": "dsm_before_after_image_1", "url": "http:\/\/photoediting4u.com\/virtual-dusk-twilight\/", "target": "_self" }, { "class": "dsm_before_after_image_2", "url": "http:\/\/photoediting4u.com\/virtual-staging\/", "target": "_self" }];
    </script>
    <script type="text/javascript" id="divi-custom-script-js-extra">
     /* <![CDATA[ */
      var DIVI = { "item_count": "%d Item", "items_count": "%d Items" };
      var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
      var et_pb_custom = { "ajaxurl": "http:\/\/photoediting4u.com\/wp-admin\/admin-ajax.php", "images_uri": "http:\/\/photoediting4u.com\/wp-content\/themes\/Divi\/images", "builder_images_uri": "http:\/\/photoediting4u.com\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "51e45ed1d2", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "192c3b5e2e", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "wrong_checkbox": "Checkbox", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "ab_tests": [], "is_ab_testing_active": "", "page_id": "8", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "", "tinymce_uri": "" }; var et_builder_utils_params = { "condition": { "diviTheme": true, "extraTheme": false }, "scrollLocations": ["app", "top"], "builderScrollLocations": { "desktop": "app", "tablet": "app", "phone": "app" }, "onloadScrollLocation": "app", "builderType": "fe" }; var et_frontend_scripts = { "builderCssContainerPrefix": "#et-boc", "builderCssLayoutPrefix": "#et-boc .et-l" };
      var et_pb_box_shadow_elements = [];
      var et_pb_motion_elements = { "desktop": [], "tablet": [], "phone": [] };
      var et_pb_sticky_elements = [];
/* ]]> */
    </script>
    <script type="text/javascript" src="/themes/Divi/js/custom.unified.js?ver=4.9.2"
      id="divi-custom-script-js"></script>
    <script type="text/javascript"
      src="/plugins/modula-best-grid-gallery/includes/divi-extension/scripts/frontend-bundle.min.js"
      id="modula-divi-frontend-bundle-js"></script>
    <script type="text/javascript" src="/plugins/supreme-modules-for-divi/scripts/frontend-bundle.min.js?ver=2.4.2"
      id="supreme-modules-for-divi-frontend-bundle-js"></script>
    <script type="text/javascript" src="/themes/Divi/core/admin/js/common.js?ver=4.9.2" id="et-core-common-js"></script>
    <script type="text/javascript" src="/js/wp-embed.min.js?ver=5.8.6" id="wp-embed-js"></script>
    <script type="text/javascript"
      src="/plugins/supreme-modules-for-divi/public/js/dsm-before-after-image-slider.js?ver=2.4.2"
      id="dsm-before-after-image-js"></script>



  </body>

</html>