<!DOCTYPE html>
<html lang="vi">
  <%-include('child/head')%>
  <body>
    <div class="wrapper">
      <%-include('child/header')%>
      <%-body%>
    </div>

    <%-include('child/footer')%>
  </body>
</html>
