<link rel="stylesheet" href="/css/style1.css">
<link rel="stylesheet" href="/css/et-core.min.css">
<link rel="stylesheet" href="/css/et-core-unified-tb.min.css">


<article id="post-18" class="post-18 page type-page status-publish hentry">

				
    <div class="entry-content">
    <div class="et-l et-l--post">
<div class="et_builder_inner_content et_pb_gutters3">
<div class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_section_regular">

<div class="et_parallax_bg_wrap"><div class="et_parallax_bg_phone_exist et_parallax_bg_tablet_exist et_parallax_bg et_pb_parallax_css" style="background-image: url(http://photoediting4u.com/wp-content/uploads/2021/08/virtual-dusk-7.jpg);"></div></div>


    <div class="et_pb_row et_pb_row_0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">


<div class="et_pb_text_inner"><h1>HOW IT WORKS</h1>
<p>A Simple Process For</p>
<p>Professsional Real Estate Photo Editing</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">




    <div class="et_pb_row et_pb_row_1">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_center et_pb_bg_layout_light">


<div class="et_pb_text_inner"><h2>HOW IT WORKS</h2></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_2">
<div class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">


<div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_right et_pb_bg_layout_light">


<div class="et_pb_text_inner"><p>FILL OUR CONTACT FORM</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-265 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        
        <div class="et_pb_blurb_description"><p>Contact us by filling out our form</p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3">
<div class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">


<div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_right et_pb_bg_layout_light">


<div class="et_pb_text_inner"><p>We will contact you by E-mail</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-264 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        
        <div class="et_pb_blurb_description"><p>WE WILL SEND YOU AN EMAIL</p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_4">
<div class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">


<div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_light">


<div class="et_pb_text_inner"><p style="text-align: right;">LET US KNOW YOUR REQUIREMENTS</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-263 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        
        <div class="et_pb_blurb_description"><p>Let us know types of tasks do you need</p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_5">
<div class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">


<div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_right et_pb_bg_layout_light">


<div class="et_pb_text_inner"><p>You can e-mail us the photos via Google Drive or Dropbox</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-262 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        
        <div class="et_pb_blurb_description"><p>SEND US YOUR PHOTOS</p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_6">
<div class="et_pb_with_border et_pb_column_1_2 et_pb_column et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">


<div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_right et_pb_bg_layout_light">


<div class="et_pb_text_inner"><p>RECEIVE YOUR EDITED PHOTOS</p></div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-261 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        
        <div class="et_pb_blurb_description"><p>Let us do our magic and we will send your edited photos</p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">




    <div class="et_pb_row et_pb_row_7">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">


<div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_center et_pb_bg_layout_light">


<div class="et_pb_text_inner"><h2>HOW IT WORK</h2></div>
</div> <!-- .et_pb_text --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-265 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>FILL OUR CONTACT FORM</span></h4>
        <div class="et_pb_blurb_description"><p><span>Contact us by filling out our form</span></p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-1-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-264 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>WE WILL SEND YOU AN EMAIL</span></h4>
        <div class="et_pb_blurb_description"><p><span>We will contact you by E-mail</span></p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-2-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-263 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>LET US KNOW YOUR REQUIREMENTS</span></h4>
        <div class="et_pb_blurb_description"><p><span>Let us know types of tasks do you need</span></p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-3-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-262 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>SEND US YOUR PHOTOS</span></h4>
        <div class="et_pb_blurb_description"><p><span>You can e-mail us the photos via Google Drive or Dropbox</span></p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


<div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img loading="lazy" width="200" height="200" src="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg" alt="" srcset="http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4.jpg 200w, http://photoediting4u.com/wp-content/uploads/2021/06/New-Project-4-150x150.jpg 150w" sizes="(max-width: 200px) 100vw, 200px" class="et-waypoint et_pb_animation_top wp-image-261 et-animated"></span></div>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>RECEIVE YOUR EDITED PHOTOS</span></h4>
        <div class="et_pb_blurb_description"><p><span>Let us do our magic and we will send your edited photos</span></p></div>
    </div>
</div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row -->


</div> <!-- .et_pb_section -->		</div><!-- .et_builder_inner_content -->
</div><!-- .et-l -->
        </div> <!-- .entry-content -->


</article>