<div class="et_pb_section et_pb_section_5 et_pb_with_background et_section_regular">
    <div class="et_pb_row et_pb_row_11">
        <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div
                class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p>FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_12">
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_6">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy" src="/uploads/2021/06/photohome-810-Silliman-St-1.jpg" alt=""
                            title="photohome 810 Silliman St-1" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-810-Silliman-St-1.jpg 1000w, /uploads/2021/06/photohome-810-Silliman-St-1-980x654.jpg 980w, /uploads/2021/06/photohome-810-Silliman-St-1-480x320.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                            class="wp-image-199"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_7">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy"
                            src="/uploads/2021/06/photohome-2880-Chabot-Dr-San-Bruno-CA.jpg" alt=""
                            title="photohome 2880 Chabot Dr, San Bruno, CA" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-2880-Chabot-Dr-San-Bruno-CA.jpg 1000w, /uploads/2021/06/photohome-2880-Chabot-Dr-San-Bruno-CA-980x654.jpg 980w, /uploads/2021/06/photohome-2880-Chabot-Dr-San-Bruno-CA-480x320.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                            class="wp-image-201"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_image et_pb_image_8">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy" src="/uploads/2021/06/photohome-810-Silliman-St-2.jpg" alt=""
                            title="photohome 810 Silliman St-2" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-810-Silliman-St-2.jpg 1000w, /uploads/2021/06/photohome-810-Silliman-St-2-980x654.jpg 980w, /uploads/2021/06/photohome-810-Silliman-St-2-480x320.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                            class="wp-image-200"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_14  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_13">
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_9">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy" src="/uploads/2021/06/photohome-63-Minerva-02.jpg" alt=""
                            title="photohome 63 Minerva-02" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-63-Minerva-02.jpg 1000w, /uploads/2021/06/photohome-63-Minerva-02-980x654.jpg 980w, /uploads/2021/06/photohome-63-Minerva-02-480x320.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                            class="wp-image-205"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_15  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_28  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_10">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy" src="/uploads/2021/06/photohome-63-Minerva.jpg" alt=""
                            title="photohome 63 Minerva" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-63-Minerva.jpg 1000w, /uploads/2021/06/photohome-63-Minerva-980x654.jpg 980w, /uploads/2021/06/photohome-63-Minerva-480x320.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                            class="wp-image-203"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_16  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN B/W</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_image et_pb_image_11">
                <a href="http://photoediting4u.com/floor-plan/"><span class="et_pb_image_wrap "><img
                            loading="lazy" src="/uploads/2021/06/photohome-63-Minerva-03.jpg" alt=""
                            title="photohome 63 Minerva-03" height="auto" width="auto"
                            srcset="/uploads/2021/06/photohome-63-Minerva-03.jpg 943w, /uploads/2021/06/photohome-63-Minerva-03-480x340.jpg 480w"
                            sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 943px, 100vw"
                            class="wp-image-197"></span></a>
            </div>
            <div
                class="et_pb_module et_pb_text et_pb_text_17  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p style="text-align: center;">2D FLOOR PLAN</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->