<div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
    <div class="et_pb_row et_pb_row_5">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p>VIRTUAL DUSK /TWILIGHT</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_6">
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_0 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/199-Cherry-Ln-BERORE.jpg" alt="" title=""
                                srcset="/uploads/2021/06/199-Cherry-Ln-BERORE.jpg 1000w, /uploads/2021/06/199-Cherry-Ln-BERORE-980x654.jpg 980w, /uploads/2021/06/199-Cherry-Ln-BERORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/199-Cherry-Ln-1-DTE-AFTER.jpg" alt="" title=""
                                srcset="/uploads/2021/06/199-Cherry-Ln-1-DTE-AFTER.jpg 1000w, /uploads/2021/06/199-Cherry-Ln-1-DTE-AFTER-980x654.jpg 980w, /uploads/2021/06/199-Cherry-Ln-1-DTE-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_1 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/880-Oak-Park-Cir-BEFORE-1.jpg" alt="" title=""
                                srcset="/uploads/2021/06/880-Oak-Park-Cir-BEFORE-1.jpg 1000w, /uploads/2021/06/880-Oak-Park-Cir-BEFORE-1-980x654.jpg 980w, /uploads/2021/06/880-Oak-Park-Cir-BEFORE-1-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg" alt="" title=""
                                srcset="/uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1.jpg 1000w, /uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-980x654.jpg 980w, /uploads/2021/06/880-Oak-Park-Cir-1-AFTER-1-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_2 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/DJI_0691-BEFORE.jpg" alt="" title=""
                                srcset="/uploads/2021/06/DJI_0691-BEFORE.jpg 1000w, /uploads/2021/06/DJI_0691-BEFORE-980x654.jpg 980w, /uploads/2021/06/DJI_0691-BEFORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/DJI_0691-AFTER.jpg" alt="" title=""
                                srcset="/uploads/2021/06/DJI_0691-AFTER.jpg 1000w, /uploads/2021/06/DJI_0691-AFTER-980x654.jpg 980w, /uploads/2021/06/DJI_0691-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_7">
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_3 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.359px;">
                            <img src="/uploads/2021/07/virtualdusk_Large-7.jpg" alt="" title=""
                                srcset="/uploads/2021/07/virtualdusk_Large-7.jpg 1000w, /uploads/2021/07/virtualdusk_Large-7-980x655.jpg 980w, /uploads/2021/07/virtualdusk_Large-7-480x321.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.359px, 0px);"><img
                                src="/uploads/2021/08/virtual-dusk-3.jpg" alt="" title=""
                                srcset="/uploads/2021/08/virtual-dusk-3.jpg 1000w, /uploads/2021/08/virtual-dusk-3-980x655.jpg 980w, /uploads/2021/08/virtual-dusk-3-480x321.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.359px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_4 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/3014-Forest-Meadow-Ln-1-BEFORE.jpg" alt="" title=""
                                srcset="/uploads/2021/06/3014-Forest-Meadow-Ln-1-BEFORE.jpg 1000w, /uploads/2021/06/3014-Forest-Meadow-Ln-1-BEFORE-980x654.jpg 980w, /uploads/2021/06/3014-Forest-Meadow-Ln-1-BEFORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/3014-Forest-Meadow-Ln-AFTER.jpg" alt="" title=""
                                srcset="/uploads/2021/06/3014-Forest-Meadow-Ln-AFTER.jpg 1000w, /uploads/2021/06/3014-Forest-Meadow-Ln-AFTER-980x654.jpg 980w, /uploads/2021/06/3014-Forest-Meadow-Ln-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_5 et_clickable">
                <div class="et_pb_module_inner">
                    <div class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 154.891px;">
                            <img src="/uploads/2021/08/virtual-dusk-4.jpg" alt="" title=""
                                srcset="/uploads/2021/08/virtual-dusk-4.jpg 1000w, /uploads/2021/08/virtual-dusk-4-980x653.jpg 980w, /uploads/2021/08/virtual-dusk-4-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 154.891px, 0px);"><img
                                src="/uploads/2021/08/virtual-dusk-6.jpg" alt="" title=""
                                srcset="/uploads/2021/08/virtual-dusk-6.jpg 1000w, /uploads/2021/08/virtual-dusk-6-980x653.jpg 980w, /uploads/2021/08/virtual-dusk-6-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 154.891px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label" data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label" data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->