<div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">
    <div class="et_pb_row et_pb_row_8">
        <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div
                class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                    <p>VIRTUAL STAGING</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_9">
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_6 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/VIRTUAL-STAGING-BEFORE.jpg" alt="" title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING-BEFORE.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING-BEFORE-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING-BEFORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg" alt="" title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING-AFTER.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING-AFTER-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_7 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/VIRTUAL-STAGING_Large-45-BEFORE.jpg" alt=""
                                title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING_Large-45-BEFORE.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING_Large-45-BEFORE-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING_Large-45-BEFORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/VIRTUAL-STAGING_Large-45-AFTER.jpg" alt=""
                                title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING_Large-45-AFTER.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING_Large-45-AFTER-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING_Large-45-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_8 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/06/VIRTUAL-STAGING_Large-84-BEFORE.jpg" alt=""
                                title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING_Large-84-BEFORE.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING_Large-84-BEFORE-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING_Large-84-BEFORE-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/06/VIRTUAL-STAGING_Large-84-AFTER.jpg" alt=""
                                title=""
                                srcset="/uploads/2021/06/VIRTUAL-STAGING_Large-84-AFTER.jpg 1000w, /uploads/2021/06/VIRTUAL-STAGING_Large-84-AFTER-980x654.jpg 980w, /uploads/2021/06/VIRTUAL-STAGING_Large-84-AFTER-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_10">
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_9 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/07/VirtualStaging5157.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging5157.jpg 1000w, /uploads/2021/07/VirtualStaging5157-980x654.jpg 980w, /uploads/2021/07/VirtualStaging5157-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/07/VirtualStaging5159.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging5159.jpg 1000w, /uploads/2021/07/VirtualStaging5159-980x654.jpg 980w, /uploads/2021/07/VirtualStaging5159-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_10 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/07/VirtualStaging5154.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging5154.jpg 1000w, /uploads/2021/07/VirtualStaging5154-980x654.jpg 980w, /uploads/2021/07/VirtualStaging5154-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/07/VirtualStaging5156.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging5156.jpg 1000w, /uploads/2021/07/VirtualStaging5156-980x654.jpg 980w, /uploads/2021/07/VirtualStaging5156-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_22  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module dsm_before_after_image dsm_before_after_image_11 et_clickable">
                <div class="et_pb_module_inner">
                    <div
                        class="dsm-before-after-image-slider-wrapper dsm-before-after-image-slider-horizontal">
                        <div class="dsm_before_after_image_wrapper dsm-before-after-image-slider-container"
                            data-params="[{&quot;offset&quot;:&quot;0.5&quot;,&quot;orientation&quot;:&quot;horizontal&quot;,&quot;overlay&quot;:false,&quot;hover&quot;:false,&quot;handle&quot;:true,&quot;click&quot;:false}]"
                            style="height: 155.125px;">
                            <img src="/uploads/2021/07/VirtualStaging5133.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging5133.jpg 1000w, /uploads/2021/07/VirtualStaging5133-980x654.jpg 980w, /uploads/2021/07/VirtualStaging5133-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-before"
                                style="clip: rect(0px, 116.289px, 155.125px, 0px);"><img
                                src="/uploads/2021/07/VirtualStaging_5135.jpg" alt="" title=""
                                srcset="/uploads/2021/07/VirtualStaging_5135.jpg 1000w, /uploads/2021/07/VirtualStaging_5135-980x654.jpg 980w, /uploads/2021/07/VirtualStaging_5135-480x320.jpg 480w"
                                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1000px, 100vw"
                                class="skip-lazy dsm-before-after-image-slider-after"
                                style="clip: rect(0px, 232.578px, 155.125px, 116.289px);">
                            <div class="dsm-before-after-image-slider-overlay">
                                <div class="dsm-before-after-image-slider-before-label"
                                    data-content="Before"></div>
                                <div class="dsm-before-after-image-slider-after-label"
                                    data-content="After"></div>
                            </div>
                            <div class="dsm-before-after-image-slider-handle" style="left: 116.289px;">
                                <span class="dsm-before-after-image-slider-left-arrow"></span><span
                                    class="dsm-before-after-image-slider-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->