<article id="post-19" class="post-19 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="et-l et-l--post">
            <div class="et_builder_inner_content et_pb_gutters3" id="divServicesContent">
                <%-include('./components/background')%>
                    <%-include('./components/title')%>


            </div><!-- .et_builder_inner_content -->
        </div><!-- .et-l -->
    </div> <!-- .entry-content -->
</article> <!-- .et_pb_post -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">


<script>
    $(document).ready(function () {
        LoadPosts();
    })

    function LoadPosts() {
        $.ajax({
            url: '/post/list-6latest-posts',
            type: 'get',
            success: function (data) {
                data.posts.map(g => {
                    // console.log(g);
                    if (g.posts.length > 0) {
                        if (g.type == -1) {
                            let result = `<div class="container">`
                            result += `<div class="card">`
                            result += `<div class="card-body">`
                            result += `<h2 class="card-title text-primary">${g.group}</h2>`
                            result += `<div class="row mt-2">`

                           
                                g.posts.forEach(p=>{
                                    result += `<div class="col-md-4 text-center">`
                                    result += `<img src="${p.img_url}" class="img-fluid" style="width:300px; height: 200px;"/>`
                                    result += `<h4 class="mt-2 text-primary">`
                                    result += g.is_shown?g.sub_group:``;
                                    result +=`</h4>`
                                    result += `</div>`
                            
                                })
                           
                            
                            
                            result += `</div>`
                            result += `</div>`
                            result += `</div>`
                            result += `</div>`

                            $('#divServicesContent').append(result);
                        }
                    }
                })

            }
        })
    }
</script>