<article id="post-19" class="post-19 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="et-l et-l--post">
            <div class="et_builder_inner_content et_pb_gutters3">
                <%-include('./components/background')%>
                <%-include('./components/title')%>
                <%-include('./components/photo-editing')%>

            </div><!-- .et_builder_inner_content -->
        </div><!-- .et-l -->
    </div> <!-- .entry-content -->
</article> <!-- .et_pb_post -->

<script>
    $(document).ready(function(){
        LoadPosts();
    })

    function LoadPosts(){
        $.ajax({
            url:'/post/list-6latest-posts',
            type:'get',
            success:function(data){
                console.log(data)
            }
        })
    }
</script>

