
<!DOCTYPE html>
<html lang="vi">
<head>
	


<script>
  var csrfName = 'ci_csrf_token';

  var csrfHash = '';
</script>	</head>
	
      <!-- Hình hảnh -->
    <div class="pageCatService py-40">

      <div class="container">
       
        
          
            
            <div class="parent mt-40">

              <h2 class="text-center yellow-color"><strong>INTERIOR</strong></h2>

              <div class="row">

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-editing-shining-tone-style%20(2).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-editing-shining-tone-style%20(1).jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>SHINING TONE</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup38">View Larger</button>

                      <div class="modal fade" id="popup38" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-editing-shining-tone-style%20(2).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-editing-shining-tone-style%20(1).jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-photo-editing-warming-tone%20(1).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-photo-editing-warming-tone%20(2).jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>WARM TONE</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup36">View Larger</button>

                      <div class="modal fade" id="popup36" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-photo-editing-warming-tone%20(1).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-real-estate-photo-editing-warming-tone%20(2).jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
              </div>

            </div>

          
            
            <div class="parent mt-40">

              <h2 class="text-center yellow-color"><strong>EXTERIOR</strong></h2>

              <div class="row">

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/exterior-real-estate-photo-editing-fotoruler%20(2).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/exterior-real-estate-photo-editing-fotoruler%20(1).jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>DAY-TIME</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup47">View Larger</button>

                      <div class="modal fade" id="popup47" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/exterior-real-estate-photo-editing-fotoruler%20(2).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/exterior-real-estate-photo-editing-fotoruler%20(1).jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/twilight%20time%20editing-fotoruler-real-estate-photo-editing%20(1).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/twilight%20time%20editing-fotoruler-real-estate-photo-editing%20(2).jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>TWILIGHT TIME</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup46">View Larger</button>

                      <div class="modal fade" id="popup46" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/twilight%20time%20editing-fotoruler-real-estate-photo-editing%20(1).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/twilight%20time%20editing-fotoruler-real-estate-photo-editing%20(2).jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
              </div>

            </div>

          
            
            <div class="parent mt-40">

              <h2 class="text-center yellow-color"><strong>HDR EXPOSURE - BRACKET – ENHANCEMENT</strong></h2>

              <div class="row">

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-HDR-AMBIENT-photo-editing-real-estate-service%20(2).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-HDR-AMBIENT-photo-editing-real-estate-services.jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>HDR EXPOSURE - BRACKET</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup49">View Larger</button>

                      <div class="modal fade" id="popup49" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-HDR-AMBIENT-photo-editing-real-estate-service%20(2).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/fotoruler-HDR-AMBIENT-photo-editing-real-estate-services.jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
                  
                  <div class="col-md-6">

                    <div class="item mt-20">

                      <div class="twentytwenty mt-10">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/ambient-flash-HDR-and-Flash-real-estate-photo-editing%20(2).jpg" alt="image">

                        <img class="w-100" src="https://fotoruler.com/uploads/images/style/ambient-flash-HDR-and-Flash-real-estate-photo-editing.jpg" alt="image">

                      </div>

                      <h3 class="mt-15"><b>AMBIENT LIGHT AND FLASH</b></h3>

                      <div class="description mt-1 text-md"></div>

                      <button type="button" class="btn btn-block mt-15 bg-yellow text-white border-0" data-toggle="modal" data-target="#popup48">View Larger</button>

                      <div class="modal fade" id="popup48" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

                          <div class="modal-content">

                            <div class="twentytwenty">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/ambient-flash-HDR-and-Flash-real-estate-photo-editing%20(2).jpg" alt="image">

                              <img class="w-100" src="https://fotoruler.com/uploads/images/style/ambient-flash-HDR-and-Flash-real-estate-photo-editing.jpg" alt="image">

                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                
              </div>

            </div>

          
        
        
        
      </div>

    </div>

    <!-- Twentytwenty -->

    <link href="css/twentytwenty.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery.event.move.js"></script>

    <script src="js/jquery.twentytwenty.js"></script>

    <script>
      $(window).load(function() {

        $(".twentytwenty").twentytwenty({

          default_offset_pct: 0.5

        });

        // $(window).trigger("resize.twentytwenty");

      })

      $('.modal').on('shown.bs.modal', function(e) {

        $(window).trigger("resize.twentytwenty");

      });
    </script>

  


<script src="https://fotoruler.com/public/dist/bootstrap/bootstrap.min.js"></script>

<script src="https://fotoruler.com/public/dist/mmenu/jquery.mmenu.js"></script>

<script src="https://fotoruler.com/public/dist/carousel/owl.carousel.min.js"></script>

<script src="https://fotoruler.com/public/dist/scripts/jquery.lazy.min.js"></script>

<script src="https://fotoruler.com/public/dist/scripts/common.js"></script>
<script>
    // MODAL
    $('#modalSupport').modal('show');
</script>	</div>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f41f6061e7ade5df4432419/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script--></body>
</html>